.accordion-item {
  position: relative;
  margin-bottom: 1rem;
  border: none;
  .accordion-button {
    border-bottom: 1px solid transparent;
    box-shadow: none;
    &:focus {
      border-bottom: 1px solid transparent;
      box-shadow: none;
    }
    &:not(.collapsed) {
      border-color: $accordion-border-color;
      background-color: #fff;
      color: $accordion-color;
    }
  }
}

.accordion-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  border-radius: $accordion-border-radius;
  border: 1px solid $accordion-border-color;
  pointer-events: none;
}

.accordion-collapse.show + .accordion-shadow {
  box-shadow: 0 0 8px 0 rgba(73, 72, 70, 0.15);
  border-radius: 0.25rem;
}
